<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="FNfinalString" value="f6c9nFHegujGDB9uf9g+fA==" />
    <add key="FNfieldName" value="NAMCFRST" />
    <add key="LNfinalString" value="cT+QD0kWR6o=" />
    <add key="LNfieldName" value="NAMCLST" />
    <add key="SNofinalString" value="7JqC7qYk1os5huiu18yRNHkUb3cG/coYIP+r/J4Iq/k=" />
    <add key="SNofieldName" value="YEKS" />
    <add key="ActfinalString" value="" />
    <add key="ActfieldName" value="" />
    <add key="Lc4WyMPCMIA=" value="" />
    <add key="RuXk0ytKM6w=" value="" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>